# Created by .ignore support plugin (hsz.mobi)
.gitignore
build/app/generated/ap_generated_sources/
build/app/generated/res/
build/app/intermediates/aar_metadata_check/
build/app/intermediates/data_binding_layout_info_type_merge/
build/app/intermediates/duplicate_classes_check/
build/app/intermediates/external_file_lib_dex_archives/
build/app/intermediates/external_libs_dex_archive/
build/app/intermediates/external_libs_dex_archive_with_artifact_transforms/
build/app/intermediates/incremental/mergeDebugResources/stripped.dir/
build/app/intermediates/incremental/processDebugResources/
build/app/intermediates/merged_jni_libs/
build/app/intermediates/merged_shaders/
build/app/intermediates/mixed_scope_dex_archive/
build/app/intermediates/sub_project_dex_archive/
build/app/intermediates/validate_signing_config/
build/integration_test/generated/ap_generated_sources/
build/integration_test/generated/res/
build/integration_test/intermediates/aar_libs_directory/
build/integration_test/intermediates/compiled_local_resources/
build/integration_test/intermediates/data_binding_layout_info_type_package/
build/integration_test/intermediates/incremental/debug-mergeJavaRes/zip-cache/
build/integration_test/intermediates/incremental/packageDebugResources/merged.dir/
build/integration_test/intermediates/incremental/packageDebugResources/stripped.dir/
build/integration_test/intermediates/library_and_local_jars_jni/
build/integration_test/intermediates/library_assets/
build/integration_test/intermediates/library_jni/
build/integration_test/intermediates/merged_jni_libs/
build/integration_test/intermediates/merged_shaders/
build/integration_test/intermediates/packaged_res/
build/integration_test/intermediates/public_res/
build/webview_flutter/generated/ap_generated_sources/
build/webview_flutter/generated/res/
build/webview_flutter/intermediates/aar_libs_directory/
build/webview_flutter/intermediates/compiled_local_resources/
build/webview_flutter/intermediates/data_binding_layout_info_type_package/
build/webview_flutter/intermediates/incremental/debug-mergeJavaRes/zip-cache/
build/webview_flutter/intermediates/incremental/packageDebugResources/merged.dir/
build/webview_flutter/intermediates/incremental/packageDebugResources/stripped.dir/
build/webview_flutter/intermediates/library_and_local_jars_jni/
build/webview_flutter/intermediates/library_assets/
build/webview_flutter/intermediates/library_jni/
build/webview_flutter/intermediates/merged_jni_libs/
build/webview_flutter/intermediates/merged_shaders/
build/webview_flutter/intermediates/packaged_res/
build/webview_flutter/intermediates/public_res/
